/*.point {
    stroke: rgb(0);
    stroke-width: 0px;
    fill: white;
}*/

.title {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 18px;
    font-weight: bold;
}

.axes {
    font-size: 14px;
}

.axis-x path,
.axis-y path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-x .tick line,
.axis-y .tick line {
    stroke: #ccc;
}

.axis text {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 12px;
}